<ion-header>
  <ion-navbar>
    <ion-title>

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>

      <ion-col col-12>
      <h2 class="titu01">  Olá, Flávio!</h2>
      <div class="f01">Aqui você gerencia suas ofetas<br>
publicadas e propostas recebidas</div>
<h6 class="titu02">Ofertas publicadas</h6>
<ion-scroll scrollX >
  <div class="oferta_scroll"  [navPush]="'ListaOfertasPage'">
    <div class="oferta">
    <ion-icon name="iconn-predio"></ion-icon><br>
  </div>
  <div class="txt_oferta">
    Jardins<br>R$500.000
    </div>
  </div>

  <div class="oferta_scroll"  [navPush]="'ListaOfertasPage'">
    <div class="oferta">
    <ion-icon name="iconn-predio"></ion-icon><br>
  </div>
  <div class="txt_oferta">
    Jardins<br>R$500.000
    </div>
  </div>

  <div class="oferta_scroll"  [navPush]="'ListaOfertasPage'">
    <div class="oferta">
    <ion-icon name="iconn-predio"></ion-icon><br>
  </div>
  <div class="txt_oferta">
    Jardins<br>R$500.000
    </div>
  </div>

  <div class="oferta_scroll">
    <div class="oferta mais">
     <ion-icon name="md-add"></ion-icon>
  </div>

  </div>

</ion-scroll>








<h6 class="titu02"  [navPush]="'ImoveisRecebidoPage'">Propostas recebidas</h6>
<ion-scroll scrollX class="oferta_scroll_x" >

  <div class="oferta_scroll">
    <div class="oferta" [style.backgroundImage]="'url(' + bgImage + ')'">
  </div>
  </div>

  <div class="oferta_scroll">
    <div class="oferta" [style.backgroundImage]="'url(' + bgImage + ')'">
  </div>
  </div>

  <div class="oferta_scroll">
    <div class="oferta" [style.backgroundImage]="'url(' + bgImage + ')'">
  </div>
  </div>

  <div class="oferta_scroll">
    <div class="oferta" [style.backgroundImage]="'url(' + bgImage + ')'">
  </div>
  </div>

</ion-scroll>

      </ion-col>



      <ion-col col-12>

        <ion-item>
          <button class="btn_gren" ion-button round full [navPush]="'NovaOfertaCompradorPage'">Criar nova oferta!</button>
        </ion-item>

      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
