page-home-usuario {
  h6{
        padding-left: 5%;
  }
  
  ion-scroll[scrollX] {
    .scroll-content{

      padding: 10px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    height: 140px;
    padding: 10px;
    white-space: nowrap;
    .oferta {
      display: inline-block;
    }
  }
}
