<ion-header>
  <ion-navbar>
    <ion-buttons left>

      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>

      <ion-col col-12>
      <h2 class="titu01"> Lista de ofertas</h2>
      <div class="f01">Encontre novos compradores</div>

<ion-col col-12 class="lista_ofertas">
  <ion-col col-12 class="oferta_linha">
    <div class="oferta">
    <ion-icon name="iconn-predio"></ion-icon><br>
  </div>
  <div class="txt_oferta">
    Apartamento, Jardins - 150m²<br>
R$500.000 - R$800.000
    </div>
    </ion-col>
  </ion-col>


  <ion-col col-12 class="lista_ofertas">
    <ion-col col-12 class="oferta_linha">
      <div class="oferta">
      <ion-icon name="iconn-predio"></ion-icon><br>
    </div>
    <div class="txt_oferta">
      Apartamento, Jardins - 150m²<br>
  R$500.000 - R$800.000
      </div>
      </ion-col>
    </ion-col>


    <ion-col col-12 class="lista_ofertas">
      <ion-col col-12 class="oferta_linha">
        <div class="oferta">
        <ion-icon name="iconn-predio"></ion-icon><br>
      </div>
      <div class="txt_oferta">
        Apartamento, Jardins - 150m²<br>
    R$500.000 - R$800.000
        </div>
        </ion-col>
      </ion-col>


      <ion-col col-12 class="lista_ofertas">
        <ion-col col-12 class="oferta_linha">
          <div class="oferta">
          <ion-icon name="iconn-predio"></ion-icon><br>
        </div>
        <div class="txt_oferta">
          Apartamento, Jardins - 150m²<br>
      R$500.000 - R$800.000
          </div>
          </ion-col>
        </ion-col>


</ion-col>



    </ion-row>
  </ion-grid>
</ion-content>
