<ion-header>
  <ion-navbar>
    <ion-buttons left>

      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>

      <ion-col col-12>
      <h2 class="titu01"> Propostas Recebidas</h2>
      <div class="f01">Você recebeu 11 propostas</div>


    <ion-row class="lista_ofertas">

        <ion-col col-4 class="oferta_linha" [navPush]="'ImovelRecebidoPage'">
        <div class="oferta" [style.backgroundImage]="'url(' + bgImage + ')'">
      </div>
      </ion-col>

      <ion-col col-4 class="oferta_linha" [navPush]="'ImovelRecebidoPage'">
      <div class="oferta" [style.backgroundImage]="'url(' + bgImage + ')'">
    </div>
    </ion-col>


    <ion-col col-4 class="oferta_linha" [navPush]="'ImovelRecebidoPage'">
    <div class="oferta" [style.backgroundImage]="'url(' + bgImage + ')'">
  </div>
  </ion-col>

  <ion-col col-4 class="oferta_linha" [navPush]="'ImovelRecebidoPage'">
  <div class="oferta" [style.backgroundImage]="'url(' + bgImage + ')'">
</div>
</ion-col>

<ion-col col-4 class="oferta_linha" [navPush]="'ImovelRecebidoPage'">
<div class="oferta" [style.backgroundImage]="'url(' + bgImage + ')'">
</div>
</ion-col>


<ion-col col-4 class="oferta_linha">
<div class="oferta" [style.backgroundImage]="'url(' + bgImage + ')'">
</div>
</ion-col>


  </ion-row>
</ion-col>



    </ion-row>
  </ion-grid>
</ion-content>
