<!--<ion-header>
  <ion-navbar>
    <ion-title>    </ion-title>
  </ion-navbar>
</ion-header>-->


<ion-content padding margin-top>
  <ion-grid>
    <ion-row justify-content-center>

      <ion-col col-10>
        <h2 class="titu01">Olá, Flávio!</h2>
        <div class="subTitle-02 blue">O que você deseja fazer?</div>
      </ion-col>

      <ion-col col-7 margin-top padding-top text-center>
        <button ion-button icon-only outline class="btns-round"  color="blue1" [navPush]="'TabsPage'">
          <ion-icon name="iconn-casapredio" class="icon-button" small></ion-icon>
        </button>
      </ion-col>

      <ion-col col-10 text-center>
        <div class="subTitle-02 blue">Comprar</div>
      </ion-col>

      <ion-col col-4 class="border-mini-center"></ion-col>

    </ion-row>
    <ion-row justify-content-center>

      <ion-col col-7 margin-top padding-top text-center>
        <button ion-button icon-only outline class="btns-round" color="yellow1" [navPush]="'TabsVendedorPage'">
          <ion-icon name="iconn-moeda" class="icon-button" small></ion-icon>
        </button>
      </ion-col>

      <ion-col col-7 text-center>
        <div padding-bottom class="subTitle-02 yellow">Vender</div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
