<ion-header>
  <ion-navbar>
    <ion-title>

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-10>
        <img src="assets/imgs/logo.jpg" alt="">
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-10>
        <ion-item>
          <ion-input type="text" placeholder="usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="senha"></ion-input>
        </ion-item>
        <ion-item>
          <button class="btn_gren" ion-button round full [navPush]="'EscolherTipoPage'">entrar</button>
        </ion-item>

      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-icon  name="ios-arrow-up-outline"></ion-icon><br>
mais opções
</ion-footer>
