page-home {
  .scroll-content{
    display: flex;
    ion-grid{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  ion-footer{
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;

  }

  .scroll-content{
    padding-bottom: 0px !important;
  }
}
