<ion-tabs [selectedIndex]="myIndex">
  <ion-tab [root]="Pagina2" class="tb01"></ion-tab>
  <ion-tab [root]="Pagina2" class="tb02"></ion-tab>
  <ion-tab [root]="Pagina2" class="tb03" ></ion-tab>
</ion-tabs>
