





@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?xcxhh7');
  src:  url('../assets/fonts/icomoon.eot?xcxhh7#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?xcxhh7') format('truetype'),
    url('../assets/fonts/icomoon.woff?xcxhh7') format('woff'),
    url('../assets/fonts/icomoon.svg?xcxhh7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


@mixin makeIcon($arg, $val) {
  .#{$arg}:before ,
  .ion-ios-#{$arg}:before ,
  .ion-ios-#{$arg}-outline:before ,
  .ion-md-#{$arg}:before ,
  .ion-md-#{$arg}-outline:before  {
    content: $val;
    font-size: 26px;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}


[class^="iconn-"], [class*=" iconn-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@include makeIcon(iconn-usuarios, "\e900");
@include makeIcon(iconn-predio, '\e901');
@include makeIcon(iconn-casapredio, '\e902');
@include makeIcon(iconn-casa2, '\e903');
@include makeIcon(iconn-casa, '\e904');
@include makeIcon(iconn-predio1, '\e905');
@include makeIcon(iconn-moeda, '\e906');
