page-home-vendedor {
  h6{
        padding-left: 5%;
  }
  .div_venda{
    width: 100%;
height: auto;
padding-left: 7%;
  }

  .oferta_scroll{
    margin-bottom: 15px;
    width: 32% !important;
     margin-right: 0px !important;
     text-align: center !important;
  }
  ion-scroll[scrollX] {
    .scroll-content{

      padding: 10px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    height: 140px;
    padding: 10px;
    white-space: nowrap;
    .oferta {
      display: inline-block;
    }
  }
}
