<ion-header>
  <ion-navbar>
    <ion-title>

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <h2 class="titu01">Olá, Daniel!</h2>
        <div class="f01">Aqui você gerencia seus imóveis<br>
  cadastrados, ofertas de vendas<br>
  enviadas e encontra compradores</div>
  <h6 class="titu03">Visualizar ofertas de compradores</h6>
<div class="div_venda">
  <div class="oferta_scroll">
    <div class="oferta">
    <ion-icon name="iconn-predio"></ion-icon><br>
  </div>
  <div class="txt_oferta">
    Jardins<br>R$500.000
    </div>
  </div>

  <div class="oferta_scroll">
    <div class="oferta">
    <ion-icon name="iconn-predio"></ion-icon><br>
  </div>
  <div class="txt_oferta">
    Jardins<br>R$500.000
    </div>
  </div>

  <div class="oferta_scroll">
    <div class="oferta">
    <ion-icon name="iconn-predio"></ion-icon><br>
  </div>
  <div class="txt_oferta">
    Jardins<br>R$500.000
    </div>
  </div>

  <div class="oferta_scroll">
    <div class="oferta">
    <ion-icon name="iconn-predio"></ion-icon><br>
  </div>
  <div class="txt_oferta">
    Jardins<br>R$500.000
    </div>
  </div>

  <div class="oferta_scroll">
    <div class="oferta">
    <ion-icon name="iconn-predio"></ion-icon><br>
  </div>
  <div class="txt_oferta">
    Jardins<br>R$500.000
    </div>
  </div>

  <div class="oferta_scroll">
    <div class="oferta">
    <ion-icon name="iconn-predio"></ion-icon><br>
  </div>
  <div class="txt_oferta">
    Jardins<br>R$500.000
    </div>
  </div>
</div>



<ion-col col-1></ion-col>
<ion-col col-10>

  <ion-item>
    <button class="btn_fine" ion-button round full [navPush]="'TabsPage'">Continuar vendo ofertas de compra</button>
  </ion-item>

</ion-col>
<ion-col col-1></ion-col>




<h6 class="titu02">Seus imóveis cadastrados</h6>
<ion-scroll scrollX class="oferta_scroll_x" >

  <div class="oferta_scroll">
    <div class="oferta" [style.backgroundImage]="'url(' + bgImage + ')'">
  </div>
  </div>

  <div class="oferta_scroll">
    <div class="oferta" [style.backgroundImage]="'url(' + bgImage + ')'">
  </div>
  </div>

  <div class="oferta_scroll">
    <div class="oferta" [style.backgroundImage]="'url(' + bgImage + ')'">
  </div>
  </div>

  <div class="oferta_scroll">
    <div class="oferta" [style.backgroundImage]="'url(' + bgImage + ')'">
  </div>
  </div>

</ion-scroll>

      </ion-col>



    </ion-row>
  </ion-grid>
</ion-content>
