// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../theme/icons";

@font-face {
	font-family: 'Conv_GothamRounded-Medium';
	src: url('../assets/fonts/GothamRounded-Medium.eot');
	src: local('☺'), url('../assets/fonts/GothamRounded-Medium.woff') format('woff'), url('../assets/fonts/GothamRounded-Medium.ttf') format('truetype'), url('../assets/fonts/GothamRounded-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'Conv_GothamRounded-Medium' !important;
}

.item-md.item-input.input-has-focus .item-inner {
	border-bottom-color: transparent !important;
	box-shadow: none !important;
}

.list-md .item-input.input-has-focus:last-child {
	border-bottom-color: transparent !important;
	box-shadow: none !important;
}

.list-md .item-input.input-has-focus:last-child .item-inner {
	box-shadow: none;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
	border-bottom-color: transparent !important;
	box-shadow: none !important;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
	border-bottom-color: transparent !important;
	box-shadow: none !important;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
	box-shadow: none;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
	border-bottom-color: transparent !important;
	box-shadow: none !important;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
	border-bottom-color: transparent !important;
	box-shadow: none !important;
}

ion-content, .toolbar-background, ion-header, .toolbar-title, ion-navbar, ion-title, .app-root{
	background: #1e1c24;
	background: -moz-radial-gradient(center, ellipse cover, #1e1c24 0%, #151418 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #1e1c24 0%,#151418 100%);
	background: radial-gradient(ellipse at center, #1e1c24 0%,#151418 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1c24', endColorstr='#151418',GradientType=1 ); background: #17161b !important;
	color: #fff !important;
}



img{
	width: 100%;
	height: auto;
	max-width: 100%;
}

ion-img{
	width: 100%;
	height: auto;
	max-width: 100%;
}


.btn_gren{
	background: rgb(48,200,160);
	background: -moz-linear-gradient(left, rgb(48,200,160) 0%, rgb(123,245,248) 100%);
	background: -webkit-linear-gradient(left, rgb(48,200,160) 0%,rgb(123,245,248) 100%);
	background: linear-gradient(to right, rgb(48,200,160) 0%,rgb(123,245,248) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30c8a0', endColorstr='#7bf5f8',GradientType=1 );
}

.btn_fine{
	background: transparent;
	color: #30c8a0;
	font-size: 15px !important;
	line-height: 16px !important;
	height: 25px !important;
	border: 2px solid;
}


.item-input-has-focus .label-md[stacked],
.input-has-focus .label-md[stacked],
.item-input-has-focus .label-md[floating],
.input-has-focus .label-md[floating],
{
	color: #fff !important;
	border: none !important;
}

button{
	height: 45px !important;
	line-height: 45px !important;
	color: #fff;
	text-align: center;
	border-radius: 60px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	font-size: 20px !important;
	text-transform: none !important;
}





.item{
	box-shadow: none !important;
	margin: 0px !important;
	padding: 0px !important;
	background: transparent !important;
	border: none !important;

	.item-inner{
		border: none !important;
		padding-right: 0px !important;
	}

	.input-wrapper{

		ion-input{
			text-align: center;
			margin-bottom: 15px;
			border: none !important;

			input{
				width: 100% !important;
				height: 45px;
				line-height: 45px;
				color: #fff;
				text-align: center;
				border-radius: 60px !important;
				background-color: #343239 !important;
				border: none !important;
				margin: 0px !important;
				font-size: 20px;
			}

		}

	}

}




.tabbar a[aria-selected=true] {
    background-color: #fff !important;
}


.tabbar{
	background-color: #272531 !important;
	border: none;
	min-height: 70px !important;

}

#tab-t0-0{
  background-image: url(../assets/imgs/icotab01.png);
	background-position: center;
 background-repeat: no-repeat;
background-size: cover;
 background-color: #595668;
}

#tab-t0-1{
  background-image: url(../assets/imgs/icotab03.png);
	background-position: center;
 background-repeat: no-repeat;
background-size: cover;
 background-color: #595668;
}


#tab-t0-2{
  background-image: url(../assets/imgs/icotab02.png);
	background-position: center;
 background-repeat: no-repeat;
background-size: cover;
 background-color: #595668;
}

//FONTES

@mixin font($tamanho, $lheigth, $cor) {
	font-size: $tamanho;
	line-height: $lheigth;
	color: $cor;
}

@mixin aling($aling) {
	text-align: $aling;
}

.titu01{
	@include aling(center);

	&.blue{
		color: map-get($colors, blue1);
	}

	&.disabled{
		color: #606060;
	}
}

.titu02{
	@include aling(left);
}

.f01{
	@include font(15px,18px,#52debd);
	@include aling(center);
}

.tituform{
	@include font(15px,18px,#fff);
	@include aling(center);
}

.labelInfos{
	$size1: 12px;
	$size2: 14px;

	&.blue{
		@include font($size1, $size2, map-get($colors, blue1));
	}
}



.subTitle-02{
	$size1: 18px;
	$size2: 20px;

	&.blue{
		@include font($size1, $size2, map-get($colors, blue1));
	}

	&.yellow{
		@include font($size1, $size2, map-get($colors, yellow1));
	}

	@include aling(center);
}

.subTitle-01{
	$size1: 15px;
	$size2: 15px;

	&.blue{
		@include font($size1, $size2, map-get($colors, blue1));
	}

	font{
		@include font($size1, $size2, map-get($colors, blue1));
	}

	@include aling(center);
}

//OFERTAS
.oferta_scroll{
	color: #52debd;
	display: inline-block;
	width: 75px;
	height: auto;
margin-right: 10px;
&:last-child{
	margin-right: 0px !important;
}
}

.oferta_linha{
	color: #52debd;
	display: flex;
align-items: center;
justify-content: center;
	width: 100%;
	height: auto;
	float: left;
	padding-bottom: 15px;
	border-bottom: 1px solid #413d52;
	.oferta{
		float: left;
	}
	.txt_oferta{
		float: left;
		width: auto;
		text-align: left;
		padding-left: 20px;
		margin-top: 0px !important;
	}
}

h6{
	font-size: 16px !important;
}

.back-button{
	color: #fff;
}



.txt_oferta{
	margin-top: 8px;
	width: 75px;
	height: auto;
	font-size: 12px;
		line-height: 18px;
	text-align: center;

}

.oferta{
	ion-icon{
		height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
		&:before{
			    font-size: 35px !important;
					line-height: 55px;
					color: #52debd;
		}

	}
	width: 70px;
	height: 70px;
	-webkit-border-radius: 22px;
-moz-border-radius: 22px;
border-radius: 22px;
border: 4px solid #43a58f;
background-position: center;
background-size: cover;


}


.mais{
	position: absolute;
	top: 10px;
	ion-icon{
	&:before{
				font-size: 35px !important;
				line-height: 60px;
				color: #fff !important;
	}
}
}

.oferta_scroll_x{
	height: 80px !important;
}


// GLOBAL
// Mini Border Bottom Centralizada
.border-mini-center{
	border-bottom: 0.5px groove map-get($colors, gray-border);
}

// Aplica borda, centraliza e arredonda levemente os cantos das Imagens Thumbs
.thumb-img{
	border-radius: 20px;
	border: 1px solid map-get($colors, gray-border);
	overflow: hidden;
	width: 98px;
	height: 95px;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
	margin-right: 5px;

	&:first-child{
		margin-left: 0;
	}

	&:last-child{
		margin-right: 0;
	}

	.icon{
		font-size: 40px;
		font-weight: 900;
	}

	img{
		width: 100%;
		height: 100%;
		line-height: 0%;
		max-width: initial;
		object-fit: cover;
		object-position: center;
	}

}

// Box tipos de Imóveis
// Pages -> Novo Imóvel, Nova Oferta
.box-types{
	background-color: #fff;
	border-radius: 17px;
	padding-top: 10px;

	ion-col .button{
		height: 60px !important;
		border-radius: 50% !important;

		.icon-md, .icon-md:before{
			font-size: 40px !important;
			padding: 5px;
		}

		.icon-ios, .icon-ios:before{
			font-size: 31px !important;
			padding: 5px;
		}

		&:hover{
			color: #fff;
			background-color: map-get($colors, blue1);
		}
	}

	ion-col.col-legend{
		padding-top: 8px;
		padding-bottom: 10px;
		border-top: 0.5px solid map-get($colors, gray-border);
		color: map-get($colors, dark);
	}
}




// Item rows values
.item-rows-appends{
	padding-top: 10px !important;
	padding-bottom: 8px !important;

	.localidades{
		display: flex;
		flex-direction: row-reverse;

		div{
			width: auto;
			font-size: 11.5pt !important;
			color: #fff;
			padding-top: 4px;
			padding-left: 4px;
			padding-right: 4px;
			padding-bottom: 2px;
			margin: 0 2px 0 2px;
			border-radius: 15px;
			border: 0.5px solid map-get($colors, blue1);
		}
	}

}


.item-rows{
	padding-top: 14px !important;
	padding-bottom: 10px !important;
}

//ESCOLHER TIPO
.btns-round{
	height: 160px !important;
	width: 160px;
	border-radius: 50% !important;
	border-width: 2px;

	.icon-button, .icon-button:before{
		font-size: 55pt !important;
	}
}
