<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>

    <ion-row justify-content-center margin-top margin-bottom>
      <ion-col col-12>
        <h2 no-margin class="titu01">Criando uma Oferta de Compra</h2>
        <div class="subTitle-01 blue">Preencha os campos abaixo</div>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <h5 class="titu01">Tipo de imóvel</h5>
    </ion-row>

    <ion-row justify-content-center margin-bottom class="box-types">
      <ion-col col-auto no-padding text-center>
        <button ion-button icon-only clear color="dark">
          <ion-icon name="iconn-predio"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-auto no-padding text-center>
        <button ion-button icon-only clear color="dark">
          <ion-icon name="iconn-casa2"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-auto no-padding text-center>
        <button ion-button icon-only clear color="dark">
          <ion-icon name="iconn-casa"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-auto no-padding text-center>
        <button ion-button icon-only clear color="dark">
          <ion-icon name="iconn-casa"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-auto no-padding text-center>
        <button ion-button icon-only clear color="dark">
          <ion-icon name="iconn-casa"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-12 text-center class="col-legend">
        Apartamento
      </ion-col>
    </ion-row>

    <ion-row margin-top margin-bottom>
      <h5 no-margin col-12 class="titu01">Onde:</h5>
      <h6 no-margin col-12 class="titu01 blue">Brasil</h6>
      <h6 no-margin col-12 class="titu01 disabled">Estado</h6>
      <h6 no-margin col-12 class="titu01 disabled">Cidade</h6>
      <h6 no-margin col-12 class="titu01 disabled">Bairro</h6>
    </ion-row>

    <ion-row justify-content-center margin-top margin-bottom padding-bottom>
      <h5 no-margin class="titu01">Quantos metros quadrados</h5>
      <ion-item col-10>
        <ion-range dualKnobs="true" pin="true" [(ngModel)]="structure">
          <ion-icon range-left small name="md-remove" color="light"></ion-icon>
          <ion-icon range-right small name="md-add" color="light"></ion-icon>
        </ion-range>
      </ion-item>
      <div no-margin no-padding col-12 class="subTitle-01"><font>100m²</font> até <font>200m²</font></div>
    </ion-row>

    <ion-row justify-content-center margin-top margin-bottom padding-bottom>
      <h5 no-margin class="titu01">Quantos quartos</h5>
      <ion-item col-10>
        <ion-range dualKnobs="true" pin="true" [(ngModel)]="structure">
          <ion-icon range-left small name="md-remove" color="light"></ion-icon>
          <ion-icon range-right small name="md-add" color="light"></ion-icon>
        </ion-range>
      </ion-item>
      <div no-margin no-padding col-12 class="subTitle-01"><font>1</font> até <font>10</font></div>
      <input type="radio" class="check"><div class="lbl-check">&nbsp;Não se aplica</div>
    </ion-row>

    <ion-row justify-content-center margin-top margin-bottom padding-bottom>
      <h5 no-margin class="titu01">Quantas vagas</h5>
      <ion-item col-10>
        <ion-range dualKnobs="true" [(ngModel)]="structure">
          <ion-icon range-left small name="md-remove" color="light"></ion-icon>
          <ion-icon range-right small name="md-add" color="light"></ion-icon>
        </ion-range>
      </ion-item>
      <div no-margin no-padding col-12 class="subTitle-01"><font>0</font> até <font>8</font></div>
      <input type="radio" class="check"><div class="lbl-check disabled">&nbsp;Não se aplica</div>
    </ion-row>

    <ion-row justify-content-center margin-top margin-bottom padding-left padding-bottom>
      <h5 no-margin class="titu01">Quanto quero pagar</h5>
      <ion-item col-11 offset-1>
        <ion-range dualKnobs="true" [(ngModel)]="structure">
          <ion-icon range-left small name="logo-usd" color="light"></ion-icon>
          <ion-icon range-right small class="icon-money-3" name="logo-usd" color="light"></ion-icon>
          <ion-icon range-right small class="icon-money-3" name="logo-usd" color="light"></ion-icon>
          <ion-icon range-right small class="icon-money-3" name="logo-usd" color="light"></ion-icon>
        </ion-range>
      </ion-item>
      <div no-margin no-padding col-12 class="subTitle-01"><font>500 mil</font> até <font>800 mil</font></div>
    </ion-row>

    <ion-row justify-content-center margin-top margin-bottom padding-left padding-bottom>
      <h5 no-margin class="titu01">Forma de pagamento</h5>
      <ion-item col-6 class="icoPag" >
      <input type="radio" class="check"><div class="lbl-check ">&nbsp;A vista</div>
      </ion-item>
      <ion-item col-6 class="icoPag">
      <input type="radio" class="check"><div class="lbl-check disabled">&nbsp;Financiamento</div>
      </ion-item>

    </ion-row>




  </ion-grid>
</ion-content>
