page-nova-oferta-comprador {

      h2{
          margin-bottom: 2px !important;
      }

      //ranges form
      .range{
          padding-top: 5px !important;
          padding-bottom: 4px !important;

          .icon, .icon::before{
              font-weight: bold !important;
          }

          .range-slider{
              margin: auto 4px auto 4px;

              .range-bar{
                  height: 3px;
              }

              .range-bar-active, .range-pin::before{
                  background: map-get($colors, blue1);
              }

              .range-knob{
                  background: #fff;
              }




          }
      }

      .icon-money-3{
          margin: 0 !important;
          font-size: 12pt;
      }

      .lbl-check{
          color: map-get($colors, blue1);

          &.disabled{
              color: #606060 !important;
          }
      }

      .disabled{
          color: #606060 !important;
      }

      .check, .lbl-check{
          margin-top: 4px;
      }



.icoPag {
  input{
    float: left;
  }
  div{
    float: left;
  }
}
}
