page-comprador {

    .f01 font{
        padding-bottom: 4px;
        color: #fff;
        border-bottom: 2px solid map-get($colors, blue1);
    }

    .row-avatar{
        background-image: radial-gradient(farthest-corner at 160px 80px , #FFF 10%, map-get($colors, blue1) 10%, #17161b 60%);
    }

    .div-avatar{
        background-color: map-get($colors, dark);        
        border-radius: 50%;
        padding: 10px;
    }

    .avatar-round{
        border-radius: 100%;
        border: 1px groove map-get($colors, blue1);
        height: 130px;
        width: 130px;
        text-align: center;        
        
        /*background-color: #888;*/

        .icon-user, .icon-user:before{
            font-size: 45pt !important;
            margin-top: 25px;
        }
    }

    .col-button-footer, .button-accept, .button-reject{
        flex-direction: column;
        font-size: 14pt;
        /*border: 1px solid red;*/
        text-align: center;

        p{
            margin: 5px auto auto auto;
            width: 100%;            
            font-weight: bolder;
        }

        .button{
            border-width: 2px;
        }
        
    }

    .button-accept{

        p{
            color: map-get($colors, blue1);
        }

        .button{
            padding: 35px;                       

            .icon{
                font-size: 40px;
            }
        }
    }

    .button-reject{

        p{
            color: map-get($colors, danger);
        }

        .button{
            padding: 35px;            

            .icon{
                font-size: 44px;
            }
        }
    }

   

}
