<!--<ion-header>
  <ion-navbar>
    <ion-title>comprador</ion-title>
  </ion-navbar>
</ion-header>-->


<ion-content padding margin-top>
  <ion-grid>

    <ion-row justify-content-center margin-bottom class="row-avatar">
      <ion-col col-auto class="div-avatar">
        <div class="avatar-round">
          <ion-icon name="iconn-usuarios" class="icon-user"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col col-10>
        <h2 class="titu01">Flávio Azevedo</h2>
        <div class="f01">Possível comprador do <font>Imóvel</font></div>        
      </ion-col>
    </ion-row>

    <ion-row col-12 no-padding margin-top class="border-mini-center item-rows">
      <ion-col no-padding col-5 class="labelInfos blue">Deseja pagar</ion-col>
      <ion-col no-padding col-7 text-right class="subTitle02">R$ 200 mil - R$ 200 mil</ion-col>
    </ion-row>

    <ion-row col-12 no-padding class="border-mini-center item-rows">
      <ion-col no-padding col-5 class="labelInfos blue">Área</ion-col>
      <ion-col no-padding col-7 text-right class="subTitle02">50m² - 70m²</ion-col>
    </ion-row>

    <ion-row col-12 no-padding class="border-mini-center item-rows-appends">
      <ion-col no-padding col-3 class="labelInfos blue">Região</ion-col>
      <ion-col no-padding col-9 class="subTitle02 localidades">
        <div>+4</div>     
        <div>Aclimação</div>
        <div>Vila Mariana</div>                 
      </ion-col>
    </ion-row>

    <ion-row col-12 no-padding class="item-rows">
      <ion-col no-padding col-5 class="labelInfos blue">Financiamento</ion-col>
      <ion-col no-padding col-7 text-right class="subTitle02">Não</ion-col>
    </ion-row>

    <ion-row col-12 no-padding margin-top>
      <ion-col col-4 offset-2 class="col-button-footer button-reject">
        <button ion-button icon-only outline color="danger">
          <ion-icon name="md-close"></ion-icon>
        </button>
        <p>rejeitar</p>
      </ion-col>
      <ion-col col-4 class="col-button-footer button-accept">
        <button ion-button icon-only outline color="blue1">
          <ion-icon name="md-checkmark"></ion-icon>
        </button>
        <p>aceitar</p>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
