<!--<ion-header>
  <ion-navbar>
    <ion-title>imovel-recebido</ion-title>
  </ion-navbar>
</ion-header>-->


<ion-content>

  <ion-slides pager>

    <!--<ion-slide style="background-color: green">-->
    <ion-slide>
      <img src="https://www.gazetadopovo.com.br/haus/wp-content/uploads/2018/03/IMG_8866-002-1002x564.jpg">
      <!--<h2>Slide 1</h2>-->
    </ion-slide>
  
    <ion-slide style="background-color: blue">
      <h2>Slide 2</h2>
    </ion-slide>
  
    <ion-slide style="background-color: red">
      <h2>Slide 3</h2>
    </ion-slide>
  
  </ion-slides>

  <ion-grid padding-left padding-right>
    <ion-row col-12 no-padding margin-top class="border-mini-center item-rows">
      <ion-col no-padding col-5 class="labelInfos blue">Deseja pagar</ion-col>
      <ion-col no-padding col-7 text-right class="subTitle02">R$ 200 mil - R$ 200 mil</ion-col>
    </ion-row>

    <ion-row col-12 no-padding class="border-mini-center item-rows">
      <ion-col no-padding col-5 class="labelInfos blue">Área</ion-col>
      <ion-col no-padding col-7 text-right class="subTitle02">50m² - 70m²</ion-col>
    </ion-row>

    <ion-row col-12 no-padding class="border-mini-center item-rows-appends">
      <ion-col no-padding col-3 class="labelInfos blue">Região</ion-col>
      <ion-col no-padding col-9 class="subTitle02 localidades">
        <div>+4</div>     
        <div>Aclimação</div>
        <div>Vila Mariana</div>                 
      </ion-col>
    </ion-row>

    <ion-row col-12 no-padding class="item-rows">
      <ion-col no-padding col-5 class="labelInfos blue">Financiamento</ion-col>
      <ion-col no-padding col-7 text-right class="subTitle02">Não</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer padding>
  <ion-row justify-content-center>
    <button ion-button clear margin-right color="light">
      Descartar
    </button>
    <button ion-button margin-left color="blue1">
      Agendar Visita
    </button>  
  </ion-row>  
</ion-footer>