page-imovel-recebido {

    .slides{
        height: auto;

        .swiper-pagination-bullet {
            height: 8px !important;
        }

        .swiper-pagination-bullet-active{
            background-color: #fff;
        }
    }

    .footer{

        /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2989d8), color-stop(50%,#1e5799)) !important; /* Chrome,Safari4+ */

        background: -webkit-linear-gradient(top, transparent  0%, map-get($colors, dark) 25%) !important; /* Chrome10+,Safari5.1+ */

        .button{
            height: 40px !important;            
            padding-left: 7px !important;
            padding-right: 7px !important;            
        }

        .button-inner{
            font-size: 12pt;             
            flex-flow: column !important;  
            //flex-direction: column !important;       
        }        
    }
}
