<!--<ion-header>
  <ion-navbar>
    <ion-title>cadastro-imovel</ion-title>
  </ion-navbar>
</ion-header>-->


<ion-content padding margin-top>
  <ion-grid>

    <ion-row justify-content-center margin-top margin-bottom>
      <ion-col col-12>
        <h2 no-margin class="titu01">Cadastro de novo imóvel</h2>
        <div class="subTitle-01 blue">Preencha os campos abaixo</div>  
      </ion-col>
    </ion-row>

    <ion-row justify-content-center margin-top>      
      <h5 class="titu01">Tipo de imóvel</h5>      
    </ion-row>

    <ion-row padding-left padding-right margin-bottom class="box-types">
      <ion-col col-3 text-center>
        <button ion-button icon-only clear color="dark">
          <ion-icon name="iconn-predio" class="icon-button"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-3 text-center>
        <button ion-button icon-only clear color="dark">
          <ion-icon name="iconn-casa2" class="icon-button" small></ion-icon>
        </button>
      </ion-col>
      <ion-col col-3 text-center>
        <button ion-button icon-only clear color="dark">
          <ion-icon name="iconn-casa" class="icon-button" small></ion-icon>
        </button>
      </ion-col>
      <ion-col col-3 text-center>
        <button ion-button icon-only clear color="dark">
          <ion-icon name="md-help" class="icon-button" small></ion-icon>
        </button>
      </ion-col>
      <ion-col col-12 text-center class="col-legend">
        Apartamento
      </ion-col>
    </ion-row>

    <ion-row col-12 no-padding class="border-mini-center item-rows">
      <ion-col col-6 no-padding>
        <h5 no-margin class="titu02">Valor do imóvel</h5>
      </ion-col>
      <ion-col col-6 no-padding padding-right>
        <h5 text-right no-margin class="titu01 disabled">R$ 500 mil</h5>
      </ion-col>
    </ion-row>

    <ion-row col-12 no-padding class="border-mini-center item-rows">
      <ion-col col-6 no-padding>
        <h5 no-margin class="titu02">Quantos m²</h5>
      </ion-col>
      <ion-col col-6 no-padding padding-right>
        <h5 text-right no-margin class="titu01 disabled">500m²</h5>
      </ion-col>
    </ion-row>

    <ion-row col-12 no-padding margin-top margin-bottom>      
      <h5>Insira as fotos do imóvel</h5>      
    </ion-row>
    
    <ion-row col-12 no-padding class="rows-thumbs">
      <ion-col no-padding col-auto class="thumb-img">
        <img src="https://www.gazetadopovo.com.br/haus/wp-content/uploads/2018/03/IMG_8866-002-1002x564.jpg">
        <!--<ion-icon name="md-add"></ion-icon>-->
      </ion-col>
      <ion-col no-padding col-auto class="thumb-img">
        <ion-icon name="md-add"></ion-icon>
      </ion-col>
      <ion-col no-padding col-auto class="thumb-img">
        <ion-icon name="md-add"></ion-icon>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
